@media (min-width: 768px) and (max-width: 1024px) { /* tablet resolution */
  .ludo {
    width: 768px;
    height: 520px;
    flex-direction: row;
  }

  .board {
    width: 520px;
    height: 520px;
    aspect-ratio: 1 / 1;
    padding: 12px;
    display: flex;
  }

  .play-area {
    width: 100%;
    height: 100%;
  }

  #info-panel {
    width: 268px;
    height: 520px;
  }

  .dice {
    height:160px;
    width: 160px;
  }

  .play-dice {
    width: 110px;
    height: 110px;
  }

  .black-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
  }
}

@media (min-width: 1025px) { /* desktop resolution */
  .ludo {
    flex-direction: row;
    width: 1020px;
    height: min(700px, 100dvh);
  }

  #info-panel {
    margin-left: 20px;
    width:268px;
  }

  .dice {
  height:40%;
}
}